.filter {
    margin: 10px 0px;
    font-size: 14px;
  }
  .filter select {
    padding: 5px;
    font-size: 14px;
  }
  .timefilter {
    display: inline-block;
    background-color: #6aa84f; 
    color: white; 
    border-radius: 5px; 
    padding: 5px 10px;
  }
  .timefilter a.remove {
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }